/* Styles for the Embed XBox Video BBCode Mod */

.xbox-wrapper
{
	height: 0;
	padding-top: 25px;
	padding-bottom: 56.25%; /* 16:9 */
	position: relative;
	overflow: hidden;
}

.xbox-wrapper iframe
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}